.jumbotron{
    background-color: rgb(162, 157, 223);
    color: rgb(167, 108, 73) ;
}
.btn{
    background-color:rgb(185, 129, 132);
    border: 10px;
    color:rgb(7, 11, 20);
    border-bottom: gray;
    
}

.footer{
    padding: 2px 2px 2px 2px ;
    background-color:rgb(202, 200, 221);
    margin-bottom: 0px;
    margin-top: 10px ;
    margin-left: 10px;
    margin-right: 10px;
    
}

.card-hotel{
    
    flex: 1 150px;
    padding: 1px 1px 1px 1px;     
    
}
.btn-reserva{
    width: 100%;
    position: relative;
    left: 0;
}
.body{
    background-color: rgb(92, 65, 65);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
}
.container{
    background-color:rgb(88, 84, 102);
    color:white;
}

